<div class="d-flex flex-row ">
    <%= render 'layouts/dashadmin'%>
        <div class="d-flex flex-column">
            <div class="c4">
            <center>
                <h1 class="admin-management-heading">Designation Management</h1>
                <%= render "remote_modal", title: "Edit Designation" do %>
                <%= render "form", designation: @designation %>
                <% end %>
            </center>
            </div>
        </div>
</div>