
<div class="d-flex flex-row ">
<%= render 'layouts/dash'%>
    <div class="d-flex flex-column">
    <div>
        <div class="box2">
        <br>
            <div class="c1">Attendance Details
                <%= column_chart [["2021-01-01", 2], ["2021-01-02", 3],["2021-01-03", 4], ["2021-01-04", 5],["2021-01-05", 6], ["2021-01-06", 7],["2021-01-07", 8]], height: "216px" %>
            </div>
        </div>
    <div>

    <div class="h1">
        <div>
        <br>
            <div class="box3">
                <div class="c2">Upcoming Leaves</div>
                
            </div>
        
        </div>
        
        <div>
        <br>
            <div class="box3">
                <div class="c2">Upcoming Holidays</div>
                
            </div>
            
        </div>
        
    </div> 
    

</div>
