<div class="d-flex flex-row ">
    <%= render 'layouts/dash'%>
    <div class="d-flex flex-column">
        <h1 class="admin-management-heading">Edit Employee Details</h1>
        <%= render 'form' %>
    </div>
</div>