<div class="d-flex flex-row ">
    <%= render 'layouts/dash'%>
    <div class="d-flex flex-column">
        <h1 class="admin-management-heading">Edit Address Details</h1>
        <%= render "remote_modal", title: "Edit Address" do %>
        <%= render "form", address: @address %>
        <% end %>
    </div>
</div>