<div class="d-flex flex-row ">
    <div class="d-flex flex-column">
    
        <div>
            <%= button_to "Team Mates", leave_types_path, class: "box", method: :get%>
        </div>
        <div>
            
            <%= button_to "Projects", designations_path, class: "box", method: :get%>
        </div>
        <div>
            <%= button_to "Leave Approval", employees_path, class: "box", method: :get%>
        </div>
        <div>
            <%= button_to "Attendance Correction", holidays_path, class: "box", method: :get%>
        </div>
        
    </div>
</div>